<p class="fs-2">¿Quiénes somos?</p>
<p>Somos una empresa fundada por dos jóvenes amantes de los videojuegos comprometido a brindar las franquicias favoritas de los jugadores alrededor de Argentina, al precio más accesible posible</p>
<p>Más abajo, tendrán las recomendaciónes 100% verificadas y TOTALMENTE reales de nuestros clientes.</p>
<div class="card">
  <div class="card-header">
    Elden Ring
  </div>
  <div class="card-body">
    <h5 class="card-title">Una maravilla</h5>
    <p class="card-text">El proceso del envío fue rapidísimo, lastimosamente cuando llegó el paquete era un ladrillo envuelto en papel burbuja en vez del juego, pero como me estoy haciendo la casa no me quejo, muy recomendable</p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    Risk Of Rain 2
  </div>
  <div class="card-body">
    <h5 class="card-title">Lo volvería a hacer</h5>
    <p class="card-text">Por suerte cuando mi mamá no miraba le pude manotear la tarjeta y ahora tengo este juegazo en mis manos, muchísimas gracias OverpassGames!</p>
  </div>
</div>
