<h4>Lista de juegos:</h4>
<table class="table">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Género</th>
      <th>Plataformas</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img [src]="game.image" [alt]="game.name"></td>
      <td>{{game.name}}</td>
      <td>{{game.genre}}</td>
      <td>{{game.platform}}</td>
      <td>{{game.price}}</td>
    </tr>
    <tr>
      <td><img [src]="game2.image" [alt]="game2.name"></td>
      <td>{{game2.name}}</td>
      <td>{{game2.genre}}</td>
      <td>{{game2.platform}}</td>
      <td>{{game2.price}}</td>
    </tr>
    <tr>
      <td><img [src]="game3.image" [alt]="game3.name"></td>
      <td>{{game3.name}}</td>
      <td>{{game3.genre}}</td>
      <td>{{game3.platform}}</td>
      <td>{{game3.price}}</td>
    </tr>
  </tbody>
</table>
